{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Abt.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock head %}

{% block body %}

<p>
    Welcome to Ecolibrium, where creativity meets sustainability! We are a passionate team 
    of four high school students—Michael, Roy, Daniel, and Sudipta—united by a shared vision 
    of making a positive impact on our environment. In a world increasingly concerned with 
    climate change, we believe that every small effort counts, and that's why we've created 
    Ecolibrium, a unique social media platform dedicated to sharing art and craft projects 
    made exclusively from recycled materials.
</p><p>
    At Ecolibrium, our mission is to inspire and empower individuals to transform everyday waste 
    into extraordinary experiences. We understand the urgency of addressing climate change and 
    its impact on our planet. Through our platform, we aim to showcase the beauty and potential 
    that lie within discarded materials, encouraging a shift towards sustainability. By choosing 
    recycled materials for your art and craft projects, you not only unleash your creativity but 
    also contribute to reducing the carbon footprint.
</p><p>   
    Sustainability is at the core of what we do. Each project featured on Ecolibrium is a testament 
    to the endless possibilities of upcycling. We believe in the power of community and shared responsibility. 
    As you explore the diverse projects on our platform, you'll discover how individuals like yourself are actively 
    participating in the fight against climate change. Together, we can turn the tide by promoting a culture of reuse and recycling.
</p><p>
    Join us in the movement towards a more sustainable future. 
    Ecolibrium is more than just a platform; it's a community dedicated to crafting change. 
    Let's redefine the way we perceive waste, fostering a sense of responsibility for the environment. 
    Your creative endeavors on Ecolibrium not only showcase your artistic flair but also contribute to the 
    reduction of CO2 emissions, playing a vital role in preserving our planet for future generations. 
    Together, let's create a harmonious balance between art, sustainability, and a greener world.    
</p>

{% endblock body %}