{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock head %}

{% block body %}
<h1><span id="num-users">234,123</span> people saving <span id="num-tons">400,012</span> tons of carbon</h1>
<div class="line-chart" onload="drawChart()">
  <ul>
    <li class="line-chart-total" 
      style="--x:0px --y:0px --value:8293 tons"></li>
    <li class="line-chart-data" 
      style="--x:0px --y:0px --value: 40"></li>
    <li class="line-chart-data" 
      style="--x:0px --y:0px --value: 30"></li>
    <li class="line-chart-data" 
      style="--x:0px --y:0px --value: 45"></li>
    <li class="line-chart-data" 
      style="--x:0px --y:0px --value: 60"></li>
    <li class="line-chart-data" 
      style="--x:0px --y:0px --value: 72"></li>
    <li class="line-chart-data" 
      style="--x:0px --y:0px --value: 82"></li>
  </ul>
  <table>
    <img src="{{ url_for('static', filename='img/graph.png') }}" alt="EcoLibrium">
    <tbody>
      <tr><td></td></tr>
      <tr><td></td></tr>
      <tr><td></td></tr>
      <tr><td></td></tr>
      <tr><td></td></tr>
    </tbody>
  </table>
</div>
{% endblock body %}