<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  {% block head %}

  {% endblock head %}
  <title>EcoLibrium - {% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <ul class = "header header-top">
            <li class = "header-link" style="float:left"><a href = "{{ url_for('base.main') }}">Home</a</li>
            {% if current_user.is_authenticated %}
                <li class = "header-login"><a href="{{ url_for('user.logout') }}">Log Out</a></li>
            {% else %} <!-- user logged in -->
                <li class = "header-login"><a href="{{ url_for('user.login') }}">Log In</a></li>
                <li class = "header-login"><a href="{{ url_for('user.register') }}">Register</a></li>
            {% endif %} <!-- user not logged in -->
            <img src="{{ url_for('static', filename='img/logo.png') }}" id="navbar-logo" alt="Quickie Hub">
        </ul>
        <ul class = "header header-bottom">
            {% if current_user.is_authenticated %}
                <li class = "header-link"><a href = "{{ url_for('forum.create_forum') }}">Create</a></li>
                <li class = "header-link"><a href="{{ url_for('base.about_us') }}">Leaderboard</a></li>
            {% else %} <!-- user logged in -->
            {% endif %} <!-- user not logged in -->
            
            <li class = "header-link"><a href = "{{ url_for('base.about_us') }}">Get to Know Us</a></li>
        </ul>
    </header>
        <div class="body-block">
            {% block body %}

            {% endblock %}
        </div>


        <div class="body-scripts">
            {% block scripts %}

            {% endblock %}
        </div>
    
</body>

</html>