    <!DOCTYPE html>
    <html>

    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <script src="https://kit.fontawesome.com/95206a2f5f.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block head %}

    {% endblock head %}
    <title>EcoLibrium - {% block title %}{% endblock title %}</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <ul>
                    <li><img src="{{ url_for('static', filename='img/logo.png') }}" alt="EcoLibrium"></li>
                    <li id="navbar-title"><a href = "{{ url_for('base.main') }}">EcoLibrium</a></li>
                    <div id="navbar-right">
                        <li><a href="{{ url_for('forum.home') }}">Browse projects</a></li>
                        <li id="verticalLine"><div>|</div></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('user.view_profile') }}">{{user.username}}</a></li>
                        {% else %} <!-- user logged in -->
                            <li id="navbar-button"><a href="{{ url_for('user.register') }}">Register</a></li>
                            <li id="navbar-button"><a href="{{ url_for('user.login') }}">Login</a></li>
                        {% endif %} <!-- user not logged in -->
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                    </div>
                </ul>
            </div>
            <div class="dropdown">
                <button onclick="toggleDropdown()" class="dropbtn"><i class="fas fa-caret-down"></i></button>
                <div id="dropdownMenu" class="dropdownContent">
                    <a href="{{ url_for('base.about_us') }}">About EcoLibrium</a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('user.view_profile')}}">My Profile</a>
                        <a href="{{ url_for('base.about_us') }}">About Us</a>
                        <a href="{{ url_for('forum.create_forum') }}">Create a Post</a>
                        <a href="{{ url_for('user.logout') }}">Log Out</a>
                    {% else %} <!-- user logged in-->
                        <a href="{{ url_for('user.login') }}">Login</a>
                    {% endif %} <!-- user not logged in -->
                </div>
            </div>
        </header>
            <div class="body-block">
                {% block body %}

                {% endblock %}
            </div>


            <div class="body-scripts">
                {% block scripts %}

                {% endblock %}
            </div>
        
    </body>

    </html>