body {
  margin: 0;
  padding: 0;
}

p, li {
  font-family: 'Sarabun', sans-serif;
}

p {
  font-size: 1rem;
}

li {
  font-size: 1.5rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 0px;
  border-bottom: thin solid #000;
  overflow: hidden;
  background-color: #FEFAE0;
  width: 100%;
}
.navbar li {
  float: left;
  list-style-type: none;
}
.navbar li a, .navbar li div {
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 10px 14px;
}
.navbar img {
  padding-left: 20px;
  max-height: 50px;
}

#navbar-title a {
  font-weight: 700;
  font-family: 'Fredoka One', sans-serif;
  color: #4A652B;
}

#navbar-right {
  float: right;
}

#verticalLine {
  font-size: 2rem;
  font-weight: lighter;
  margin: -10px 10px;
}

#navbar-button {
  background-color: #A3D454;
  border-radius: 5px;
  font-weight: 1000;
}
#navbar-button:hover {
  background-color: #4A652B;
  color: #FEFAE0;
}
#navbar-button a {
  padding: 10px 16px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #FEFAE0;
  color: #000;
  font-size: 3rem;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdownContent a:hover {background-color: #F4F0D6;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 