.line-chart {
  margin: auto;
  width: 60%;
  align-self: center;
  min-height: 350px;
}
.line-chart table {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  min-height: inherit;
}
/* Chart lines */
.line-chart table tbody tr {
  min-height: 20%;
  border-bottom: thin solid #DBA976;
}
/* Chart data */
.line-chart-data {
  background-color: blue;
  bottom: var(--y);
  height: 3px;
  left: var(--x);
  position: absolute;
  width: calc(var(--hypotenuse) * 1px);
}