{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FC.css') }}">
{% endblock head %}


{% block body %}
    <h1 style= "margin-top: 200px; text-shadow: 50px, 50px, 65px, #000000;">View forums {{ form }}</h1>

    {% for form in forum %}
    <div class="forum" >
            <p>{{ form.title }}</p>
            <p>{{ form.description }}</p>
    </div>
    {% endfor %}

   <a class ="addCard" href ="{{ url_for('forum.create_forum') }}">create forum</a>

   
{% endblock body %}
