{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}


{% block body %}
    <h1>Browse projects</h1>

    <a href ="{{ url_for('forum.create_forum') }}">
        <div class="addCard">Create project</div>
    </a>

    {% for thread in all_forums %}
    <a href = "{{ url_for('forum.create_Comment', forum_id = thread.id) }}">
        <div class="forum">
            <div class="forum-hole"></div>
            <div class="forum-text">
                <h3>{{ thread.title }}</h3>
                <p>{{ thread.description }} </p>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock body %}
