{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FC.css') }}">
{% endblock head %}


{% block body %}
    <h1 style="margin-top: 200px; text-shadow: 50px, 50px, 65px, #000000;">View comments {{ thread }}</h1>

    {% for com in all_comments %}
    <div class="comment">
        <p><Strong>title: </Strong><br>{{ com.title }}<Strong>Descriptions: </Strong>{{ com.description }}</p>
    </div>
    {% endfor %}

    <a class="addComment" href="{{ url_for('forum.create_Comment', forum_id = forum.id) }}">create comments</a>
{% endblock body %}

